.cnt {
  padding: 20px;
}

.row {
  margin: unset;
  height: min-content;
}

.wr-column {
  padding: 20px 20px 0px 20px;
}

div.col > div {
  height: 100%;
  padding: 12px;
  overflow-y: auto;
}

.wr-stick-1 {
  position: sticky;
  height: 650px !important;
  top: 20px;
}

.wr-stick-2 {
  position: sticky;
  height: 400px !important;
  top: 20px;
}

#cont-1 {
  background-color: rgba(cornflowerblue, 0.2);
  border-radius: 5px;
}

#cont-2 {
  display: flex;
  flex-flow: column;
  background-color: white;
  border-radius: 5px;
  padding: 0px 20px 20px 20px;
  overflow-y: visible;
  width: 100%;

  @media (min-width: "1368px") {
    padding: 40px 120px 20px 120px;
  }
}

#cont-3 {
  background-color: rgba(rgb(168, 178, 195), 0.3);
  border-radius: 5px;
}

.aditional-details {
  color: cornflowerblue
}
